nav.navbar.is-primary
  .container
    .navbar-brand
      a.navbar-item
        img(src='/static/logo/logo-white.svg' style="height: 100%;")
      .navbar-menu
        .navbar-end
          .navbar-item
            span.icon.is-large
              i.fas.fa-shopping-cart.fa-2x